.te-edit {
    height: 100px;
    margin-bottom: 30px;
}

.te-comment {
    height: 300px;
    width: 620px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.editing-content-hide {
    visibility: hidden;
    height: 0px;
}

.threadUsericon {
    width: 50px;
}
